.shopping-cart-table {
  margin-top: 15px;
  margin-bottom: 20px;

  .table {
    text-align: center;
  }

  .total {
    text-align: right;
    font-size: 1.3rem;
    margin-right: 10px;
  }

  .main-actions {
    margin-top: 10px;
    text-align: right;

    button {
      margin-right: 10px;
    }
  }
}

.empty-shopping-cart {
  margin-top: 50px;
}

button:focus {
  outline: 0!important;
  outline-color: transparent!important;
  outline-width: 0!important;
  outline-style: none!important;
  box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
}