.shop-header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1rem;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.shop-header .logo {
    font-family: 'Crimson Text', serif;
    font-size: 3rem;
    padding-left: 1rem;
    padding-top: 5px;
}